body {
    background: rgba(224, 224, 234, 0.83);
    font-family: 'Montserrat', sans-serif;
}

header {
    margin-top: 30px;
}

header .nav {
    min-height: 80px;
    overflow: hidden;
    background-color: rgba(27, 30, 33, 0.92);
}

header .logo h2,
header .logo span,
header .logo p {
    font-size: 16px;
    display: inline-block;
    margin: 0;
}

header .logo h2 {
    font-weight: 800;
    text-transform: uppercase;
    color: white;
}

header .logo .icono {
    color: #bab8b8;
}

header .logo p {
    color: #bab8b8;
}

header .menu {
    padding: 0;
}

header .menu a {
    display: block;
    padding: 0 30px;
    text-decoration: none;
    color: white;
}

header .menu a div span {
    font-weight: 600;
}

header .menu .c-1 {
    background-color: rgb(168, 169, 177);

}

header .menu .c-2 {
    background-color: rgb(103, 113, 153);
}

header .menu .c-3 {
    background: #003855;
}

header .menu .c-1:hover {
    background-color: rgb(148, 154, 170);

}

header .menu .c-2:hover {
    background-color: rgba(129, 134, 156, 0.73);
}

header .menu .c-3:hover {
    background: #002d44;
}

.slider {
    margin-bottom: 40px;
}

.slider .col {
    padding: 0;
}

.portafolio {
    background: white;
    border-top: 5px solid rgba(27, 30, 33, 0.92);
    padding: 0 20px;
}

.portafolio .titulo {
    padding: 40px 0;
    text-align: center;
    color: #003855;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.portafolio .galeria .contenedor-imagen {
    margin-bottom: 40px;
    max-height: 180px;
    overflow: hidden;
}

.portafolio .galeria .contenedor-imagen a {
    background-color: rgb(207, 216, 224);
    display: inline-block;
}

.portafolio .galeria .contenedor-imagen:hover img{
    opacity: .3;
}

.portafolio .modal-dialog {
    margin: 0 auto;
    height: 100%;
    max-width: 1000px;
}

.portafolio .modal-content {
    width: auto;
}

.acerca-de {
    padding: 30px;
    margin-bottom: 40px;
}

.acerca-de .foto {
    text-align: center;
}

.acerca-de .foto img {
    margin-bottom: 30px;
}

.acerca-de .foto .nombre {
    color: #545454;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
}

.acerca-de .info .titulo {
    color: #003855;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 30px;
}

.acerca-de .info .resumen {
    letter-spacing: 1px;
}

.acerca-de .info .label {
    font-size: 18px;
    font-weight: 600;
    color: #003855;
    margin-bottom: 0;
}

.acerca-de .info .progress {
    background: #767272;
    border-radius: 0;
    margin-bottom: 15px;
    height: 25px;
}

.acerca-de .info .progress .progress-bar {
    line-height: 25px;
    text-align: left;
    padding-left: 20px;
}


.contacto {
    padding: 40px 0;
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 40px;
}

.contacto .titulo {
    color: #003855;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.redes-sociales {
    padding: 40px 0;
    margin-bottom: 40px;
}

.redes-sociales .icono {
    width: 100px;
    height: 100px;
    font-size: 40px;
    line-height: 100px;
    color: #ffffff;
    text-align: center;
    background: #cbcbcb;
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    border-radius: 100px;
    transition: all .3s ease;
}

.redes-sociales .github {background-color: #2d2c2c
}
.redes-sociales .linkedin {background-color: #0077b5}
.redes-sociales .skype {background-color: #0299ee}

.redes-sociales .github:hover {background-color: #0c0c0c}
.redes-sociales .linkedin:hover {background-color: #004b6a}
.redes-sociales .skype:hover {background-color: #0169a3}


@media screen and (max-width: 1199px){}

@media screen and (max-width: 991px){
    .logo {
        height: 76px;
    }
    .menu {
        min-height: 76px;
    }
    .menu a {
        width: 100%;
    }
    .menu a div {
        width: 100%;
    }
    .portafolio .galeria .contenedor-imagen:nth-child(1) {order: 2;}
    .portafolio .galeria .contenedor-imagen:nth-child(2) {order: 1;}
    .portafolio .galeria .contenedor-imagen:nth-child(3) {order: 4;}
    .portafolio .galeria .contenedor-imagen:nth-child(4) {order: 10;}
    .portafolio .galeria .contenedor-imagen:nth-child(5) {order: 7;}
    .portafolio .galeria .contenedor-imagen:nth-child(6) {order: 12;}
    .portafolio .galeria .contenedor-imagen:nth-child(7) {order: 5;}
    .portafolio .galeria .contenedor-imagen:nth-child(8) {order: 6;}
    .portafolio .galeria .contenedor-imagen:nth-child(9) {order: 8;}
    .portafolio .galeria .contenedor-imagen:nth-child(10) {order: 9;}
    .portafolio .galeria .contenedor-imagen:nth-child(11) {order: 3;}

    .modal .modal-dialog {
        width: 90%;
    }

    .modal .modal-dialog .modal-content img {
        width: 100%;
    }

    .formulario .boton {
        width: 100%;
    }
}

@media screen and (max-width: 767px){}

@media screen and (max-width: 575px){
    header {
        margin-top: 0;
    }
    header .logo h2, header .logo p {
        font-size: 14px;
    }
}

